#background {
  max-width: 900px;
  margin:auto;
}

#top {
  text-align: center;
  color: green;
  font-size: 40px;
  font-family: fantasy;
}

.middle {
  margin-top: 30px;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.gridContainer > div {
  text-align: center;
  border: 1px solid green;
  padding: 20px;
}

div p {
  margin-left: 30px;
}

a {
  margin: 10px;
  font-size: 22px;
  font-family: fantasy;
}

img {
  margin-top: 20px;
}

p {
  font-family: fantasy;
  font-size: 18px;
}

footer {
  text-align: center;
}

label {
  text-align: right;
  margin-right: 8px;
  display: inline-block;
  width: 350px;
  font-family: monospace;
  font-size: 18px;
}

input[type=text], input[type=email], input[type=tel], textarea, select {
  width: 350px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
}

input[type=radio] + label {
  width: 10px;
  margin-top: 30px;
}

input[type=checkbox] + label {
  width: 10px;
  margin-right: 30px;
  margin-top: 30px;
}

input[type=submit] {
  border-radius: 4px;
  color: white;
  background-color: #09f;
  padding: 15px;
  width: 200px;
  margin-left: 390px;
  margin-top: 30px;
}
