#background {
  
  width: 1200px;
  margin:auto;
}

#restaurant {
  text-align: center;
  color: green;
  font-size: 40px;
  font-family: fantasy;
}

div img {
  margin-left: 350px;
}

div p {
  margin-left: 30px;
}

a {
  margin: 10px;
  font-size: 22px;
  font-family: fantasy;

}

img {
  margin-top: 20px;


}

p {
  font-family: fantasy;
  font-size: 18px;
}

footer {
  text-align: center;
}
